<div id="emmediaviewer">
		<div id="eml-media">
			<div class="eml-media-frame">
				#set( $type = $mediaarchive.getMediaRenderType($asset.fileFormat))
				$pages.include("${apphome}/views/detaileditor/viewer/types/${type}.html",$context)
			</div>
		</div>
		
		<div id="eml-media-details">
			
			<h3>$asset.name</h3>
			

#set($views = $searcherManager.getList("$catalogid", "assettype/views"))

#set( $archive = $searcherManager.getPropertyDetailsArchive($catalogid) )

			$context.putPageValue("view",$view)	
			$context.putPageValue("origURL", "$apphome/assets/${asset.sourcePath}.html")
			$context.putPageValue("data",$asset)	
			$context.putPageValue("searcher",$mediaarchive.getAssetSearcher() )	
			
			#foreach( $target in $views)

			#if( $asset.assettype && $archive.viewExists("asset/assettype/$asset.assettype/$target.id") )
			  #set ($view = "asset/assettype/$asset.assettype/$target.id")
			#else
			  #set ($view = "asset/assettype/default/$target.id")
			#end
			$context.putPageValue("view",$view)	
			$pages.include("/$applicationid/components/xml/detailviewer.html", $context)

			
			#end

			
			
		</div>
	
	
	
</div>