.ui-widget
{
	margin-bottom:20px;
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


table td
{
	vertical-align: top;
}

.emdetailactions 
{
	padding-top: 40px;
	list-style: none;	
}
.emdetailactions li
{
	margin-left:0; 
}
.emdetailactions .ui-button-text
{
	width: 130px;	
}



ul.emheaderbuttons 
{
	padding: 0px;
	margin: 10px;
	list-style: none;
	clear: left;
	height: 23px;
}

ul.emheaderbuttons li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.emheaderbuttons li a 
{
	text-decoration: none;
	float:left;
 	color: #39578A;
	cursor: pointer;
		background: url(../images/buttons/emheaderbuttons.png) no-repeat top right;
}

ul.emheaderbuttons li a span 
{
	white-space: nowrap;
	font-size: 13px;
	line-height: 23px;
	margin: 0 10px 0 -10px;
	padding: 0px 8px 0px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
	background: url(../images/buttons/emheaderbuttons.png) no-repeat top left;
}

ul.emheaderbuttons li a.current,ul.emheaderbuttons  li a:hover  
{
	background: url(../images/buttons/emheaderbuttonshover.png) no-repeat top right;
}
hbs/views/assets/users/admin/Real_Media.rm/index.html?hitssessionid=${hitssessionid}
ul.emheaderbuttons li a.current span, ul.emheaderbuttons li a:hover span 
{
 	color: #fff;
	background: url(../images/buttons/emheaderbuttonshover.png) no-repeat top left;
}

.emdetailactions img
{
	
	border: 0px;
}

#emresultscontent
{
  border-top: 2px solid #90002A;
}

.playerbox
{
	background: url(../images/video_bkgd_fade.jpg) repeat-y top left;		
	text-decoration: none;
}

.emprevnext
{
	
	padding: 20px 0 20px 0;	
}
.emprevnext A
{
	color: #4D87C7;
	text-decoration: none;
}	
.emprevnext A:hover
{
	text-decoration: none;
}	

.linkprevious
{
	background: url(../images/buttons/back_16x16.png) no-repeat top left;		
}

.linkprevious span
{
	padding-left: 18px;
}
.linknext
{
	float: right;
	background: url(../images/buttons/forwd_16x16.png) no-repeat top right;		
}
.linknext span
{
	padding-right: 18px;
}

.commentbox .ui-widget-header
{
	background-color: #666;
}