.ui-widget
{
	margin-bottom:20px;
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


table td
{
	vertical-align: top;
}

.emdetailactions 
{
	padding-top: 40px;
	list-style: none;	
}
.emdetailactions li
{
	margin-left:0; 
}
.emdetailactions .ui-button-text
{
	width: 130px;	
}



ul.emheaderbuttons 
{
	padding: 0px;
	margin: 5px;
	list-style: none;
	clear: left;
	height: 23px;
}

ul.emheaderbuttons li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.emheaderbuttons li a 
{
	text-decoration: none;
	float:left;
 	color: #5FADF9;
	cursor: pointer;
}

ul.emheaderbuttons li a span 
{
    float: left;
    font-size: 12px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
    line-height: 23px;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
	
}


ul.emheaderbuttons li a.current span, ul.emheaderbuttons li a:hover span 
{
 	color: #666;
	text-decoration:underline;
    border-radius: 8px 8px 8px 8px;

}

.uploadbutton 
{
	background:#5FADF9;
	color:#fff;
    border-radius: 8px 8px 8px 8px;
	padding-left:20px;
	padding-right:20px;
}

.uploadbutton a
{
	color:#fff;
}

.uploadbutton a:hover
{
	color:#fff;
	text-decoration:none;
}


.uploadbutton:hover {
	background: #FFB15F;
	
}


.emdetailactions img
{
	
	border: 0px;
}

#emresultscontent
{
  border-top: 2px solid #90002A;
}

.playerbox
{
	background: url(../images/video_bkgd_fade.jpg) repeat-y top left;		
	text-decoration: none;
}

.emprevnext
{
	
	padding: 20px 0 20px 0;	
}
.emprevnext A
{
	color: #4D87C7;
	text-decoration: none;
}	
.emprevnext A:hover
{
	text-decoration: none;
}	

.linkprevious
{
	background: url(../images/buttons/back_16x16.png) no-repeat top left;		
}

.linkprevious span
{
	padding-left: 18px;
}
.linknext
{
	float: right;
	background: url(../images/buttons/forwd_16x16.png) no-repeat top right;		
}
.linknext span
{
	padding-right: 18px;
}

.commentbox .ui-widget-header
{
	background-color: #666;
}

.uploadform
{
	border: #90002A solid 1px;
}