.ui-widget
{
	margin-bottom:20px;
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


table td
{
	vertical-align: top;
}

.emdetailactions 
{
	padding-top: 40px;
	list-style: none;	
}
.emdetailactions li
{
	margin-left:0; 
}
.emdetailactions .ui-button-text
{
	width:130px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	background: #dddddd; 
	background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); 
	background: linear-gradient(top, #ffffff 0%,#dfdfdf 100%); 
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 3px 4px -1px #464646;
	-webkit-box-shadow: 0 3px 4px -1px #464646;
	box-shadow: 0 3px 4px -1px #464646;
	padding:5px 12px;
}

.emdetailactions .ui-button-text 
{
	width:130px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	background: #dddddd; 
	background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); 
	background: linear-gradient(top, #ffffff 0%,#dfdfdf 100%); 
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 3px 4px -1px #464646;
	-webkit-box-shadow: 0 3px 4px -1px #464646;
	box-shadow: 0 3px 4px -1px #464646;
	padding:5px 12px;
}










ul.emheaderbuttons 
{
	padding: 0px;
	margin: 5px;
	list-style: none;
	clear: left;
	height: 23px;
}

ul.emheaderbuttons li {
	float: left;
	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul.emheaderbuttons li a 
{
	text-decoration: none;
	float:left;
 	color: #5FADF9;
	cursor: pointer;
}

ul.emheaderbuttons li a span 
{
    float: left;
    font-size: 12px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
    line-height: 23px;
    padding: 5px 15px;
    position: relative;
    white-space: nowrap;
 	color: #5FADF9;
	cursor: pointer;	
	
	
}


ul.emheaderbuttons li a.current span, ul.emheaderbuttons li a:hover span 
{
 	color: #666;
	text-decoration:underline;
    border-radius: 8px 8px 8px 8px;
	background: #FFB15F;


}

.active 
{
	background:#5FADF9;
	color:#fff;
    border-radius: 8px 8px 8px 8px;
	padding-left:20px;
	padding-right:20px;
}

.active a
{
	color:#fff;
}

.active a:hover
{
	color:#fff;
	text-decoration:none;
}


.activebutton:hover {
	background: #FFB15F;
	
}



.detailsbox{
	background:#dcd8d7;	
	
}

.emdetailactions img
{
	
	border: 0px;
}

#emresultscontent
{
  border-top: 2px solid #90002A;
}

#emresultscontent a
{
	font-size:11px;
	font-weight:bold;
	color:#222;

}




.playerbox
{
	background: url(../images/video_bkgd_fade.jpg) repeat-y top left;		
	text-decoration: none;
}

.emprevnext
{
	
	padding: 20px 0 20px 0;	
}
.emprevnext A
{
	color: #4D87C7;
	text-decoration: none;
}	
.emprevnext A:hover
{
	text-decoration: none;
}	

.linkprevious
{
	background: url(../images/buttons/back_16x16.png) no-repeat top left;		
}

.linkprevious span
{
	padding-left: 18px;
}
.linknext
{
	float: right;
	background: url(../images/buttons/forwd_16x16.png) no-repeat top right;		
}
.linknext span
{
	padding-right: 18px;
}

.commentbox .ui-widget-header
{
	background-color: #666;
}

.uploadform
{
	border: #d6c4c4 solid 1px;
	background:#f6f1eb;
}


.finishbutt{
	background:#5FADF9;
	font-family:Verdana, Arial;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	border-radius:6px;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:30px;
	padding-right:30px;
	
}


.finishbutt:hover{
	background:#ffb15f;
}




.uploadformfield{
}

.uploadformfield file{
	background:#000;	
}


.file_input_textbox
{
	float: left;
	width: 215px;
	margin-right:8px;
	margin-top:4px;
}

.file_input_div
{
  position: relative; 
  height: 30px; 
  overflow: hidden;
}


.file_input_hidden
{
  font-size: 30px; 
  position: absolute; 
  right: 0px; 
  top: 0px; 
  opacity: 0; 
}

.file_input_button
{
	position: absolute; 
	top: 0px;
	background-color: #5FADF9;
	color: #FFFFFF;
	font-weight:bold;
	border-style: solid;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}


.file_input_button:hover
{
	
	background-color: #FFb15f;
}

button{
	width:230px;
	margin: 20px 8px;
	list-style:none;	
	display:inline-block;
}

.button a{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	background: #dddddd; 
	background: -moz-linear-gradient(top, #ffffff 0%, #dfdfdf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#dfdfdf 100%); 
	background: -ms-linear-gradient(top, #ffffff 0%,#dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dfdfdf',GradientType=0 ); 
	background: linear-gradient(top, #ffffff 0%,#dfdfdf 100%); 
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 3px 4px -1px #464646;
	-webkit-box-shadow: 0 3px 4px -1px #464646;
	box-shadow: 0 3px 4px -1px #464646;
	padding:9px 20px;
}

.button a:hover, .button a:focus{
    background: #dfdfdf; /* Old browsers */
	background: -moz-linear-gradient(top, #dfdfdf 0%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top, #dfdfdf 0%,#ffffff 100%); 
	background: -o-linear-gradient(top, #dfdfdf 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #dfdfdf 0%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ffffff',GradientType=0 ); 
	background: linear-gradient(top, #dfdfdf 0%,#ffffff 100%); 
	-moz-box-shadow: 0 1px 1px 0 #666666;
	-webkit-box-shadow: 0 1px 1px 0 #666666;
	box-shadow: 0 1px 1px 0 #666666;
	text-decoration:none;



}

.button a:focus{
    -moz-box-shadow: 2px 3px 2px -1px #464646 inset, 0 1px 1px 0 #666666;
	-webkit-box-shadow: 2px 3px 2px -1px #464646 inset, 0 1px 1px 0 #666666;
	box-shadow: 2px 3px 2px -1px #464646 inset, 0 1px 1px 0 #666666;
}

.button a > img{
	padding-right: 8px;
    position: relative;
    top: 2px;
}