<div id="application">
<div id="topnav" role="contentinfo">
    <div class="page_margins">
      <div class="page">
      <div><a href="$home$apphome/index.html"><img src="/eml/theme/images/sanchez_ui/enter_media_logo.png" style="margin-top:12px;" /></a>
      
      </div>
	<div style="margin-top:-65px">$pages.include("${themeprefix}/layouts/header.html")</div>
      
		<div id="site-title">$content.tagline</div>
      </div>
    </div>
  </div>
  <div id="nav" role="navigation">
    <div class="page_margins">
      <div class="page">
          <!-- main navigation: #nav_main -->
         $pages.include("$apphome/theme/layouts/nav.html")
      </div>
    </div>
  </div>
 <div id="header" role="banner">
    <div class="page_margins">
      <div class="page">
   
   
      </div>
    </div>
  </div>
 
 
 
 

 

  <div id="main">
    <div class="page_margins">

      <div class="page">
       $pages.includeContent()
      </div>
    </div>
  </div>

  <div id="extended">
    <div class="page_margins">
      <div class="page">
        
      </div>
    </div>
  </div>
  <!-- begin: #footer -->
  <div id="footer" role="contentinfo">
    <div class="page_margins">
      <div class="page">
     <p></p>
      </div>
    </div>
  </div>
<!-- full skiplink functionality in webkit browsers -->

</div>

