
<div id="eml-asset-view">
	
	<div id="eml-search-information">
		<div id="eml-search-label">Your Search For:</div>
	</div>
	
	<div id="eml-search-results">
		<div id="eml-asset-tabs">
			<ul>
				<li class="current"><a href="#preview">Preview</a></li>
				<li><a href="#metadeta">Metadata</a></li>
				<li><a href="#attachments">Attachments</a></li>
				<li><a href="#asset-history">Asset History</a></li>
			</ul>
		</div>
		<div id="eml-asset-tab-content"></div>
	</div>
	
	<div id="pagination-container">
		<div id="carousel"></div>
		<div id="pagination"></div>
	</div>
	
</div>
