
#macro (display $filename $label $assetid $view $print)
	$context.putPageValue("view", $view)
	#if ($print && $print == "true")
		$pages.include("$apphome/components/detaileditor/$filename?assetid=$assetid&view=$view&print=true&pluginpath=$apphome/components/detaileditor/$filename", $context)
	#else
  		$pages.include("$apphome/components/detaileditor/toggle.html?pluginpath=$apphome/components/detaileditor/$filename&assetid=$assetid&label=$label&view=$view",$context)
  	#end
#end


<div id="eml-tabs-view">
	<div id="eml-search-information" style="margin-bottom:0;">
		$pages.include("$apphome/components/search/friendly.html")
		$pages.include("$apphome/components/search/quicksearch.html")
		<div id="eml-action-buttons">
			$pages.include("$apphome/components/results/actionbuttons.html",$context)
			$pages.include("$apphome/components/results/views.html?resultstype=assetview",$context)
		</div>
	</div>
	
<div class="autoresize-inner">



			
	<div id="eml-search-results">
		<div id="eml-tabs">
			<ul>
				#set( $screens = $searcherManager.getList($catalogid,"asseteditor") )
				#foreach($screen in $screens)
				<li #if( $content.tab == "$screen.id" ) class="current" #end><a href="$home$apphome${screen.path}?sourcepath=$asset.sourcepath&hitssessionid=$!hits.getSessionId()">$screen.name</a></li>
				#end
 			</ul>
		</div>

		#if( $hits )
			#set($indexOf = $hits.indexOf($asset.catalogid, $asset.id))
			#set($showIndex = $indexOf + 1)
			#set($previous = $hits.previous($indexOf))
			#set( $previouspage = $hits.getPageForIndexLocation($indexOf))
			#set($next = $hits.next($indexOf))
			#set( $nextpage = $hits.getPageForIndexLocation($showIndex))
			#if( $content.scrollable && $content.scrollable == "true")
					#set( $link = $content.path)
			#else	
					#set( $link = "$apphome/views/detaileditor/viewer/index.html")
			#end
			
				#if($previous)
					<div id="eml-previous-asset"><a href="$home$link?sourcepath=${previous.sourcepath}&hitssessionid=$hits.getSessionId()&roothits=$roothits&oemaxlayout=3&page=$previouspage" targetdivinner="viewswitcher" class="ir ajax">Previous Asset</a></div>
				#end
				#if($next)
					<div id="eml-next-asset"><a href="${home}$link?sourcepath=${next.sourcepath}&hitssessionid=$hits.getSessionId()&oemaxlayout=3&page=$nextpage" targetdivinner="viewswitcher" class="ir ajax">Next Asset</a></div>
				#end
		#end
		$pages.includeContent()
		
	</div>

</div>

	 $pages.include("$apphome/components/results/pages.html?showcarousel=true",$context)
	
</div>

