
<div id="eml-tab-content">

#set ($listid =	$content.tab )
#set( $screens = $searcherManager.getList($catalogid,$listid) ) 
#if ($screens.size() > 0)
<div id="eml-tab-subnav">
	<ul>
		#foreach($screen in $screens)
		<li #if( $content.subtab == "$screen.id" ) class="current" #end> 
			<a  href="$home$apphome${screen.path}?sourcepath=$asset.sourcepath"><!-- <img  src="$home$themeprefix/images/icons/${screen.icon}.png"> -->$screen </a>
		</li>
		#end
	</ul>
</div>
#end
<div id="eml-tab-green-container" class="clearfix">
	<div id="eml-tab-options-container">
		<div class="eml-tab-option">
			
			$pages.includeContent()			

				
		</div>
	</div>
</div>
</div>