$context.putPageValue("showhover", "false")
$context.putPageValue("thumbsize", "thumb")
$context.putPageValue("showcaption", "true")
$context.putPageValue("hideheader", "true")


<table width="100%">
<tr>
<td width="66%">
			<div class="uipanel" style="overflow:hidden;">
				<div  class="ui-widget-header">Player</div>
				<div  class="ui-widget-content playerbox">
				  $pages.include("$apphome/components/mediaviewer/player/index.html",$context)
				</div> 
			</div>
			
			<div class="uipanel commentbox" header="Comments" >
			
			$pages.include("$apphome/components/mediaviewer/comments/mini.html",$context)
			</div>
</td>
<td width="33%">

<div style='background: url($themeprefix/images/bg_box.png) no-repeat;'>
	<div class="ui-widget-header">Details</div>
	<div 	>

	$pages.include("/${applicationid}/components/mediaviewer/details/index.html",$context)

</div>
	
</div>

</td>
</tr>

</table>

  
  	$pages.include("/${applicationid}/components/results/mini.html",$context)
  