$context.putPageValue("showhover", "false")
$context.putPageValue("thumbsize", "thumb")
$context.putPageValue("showcaption", "true")

<div class="subcolumns">
   <div class="c66l">
            <div class="subcl">     
         
<div class="ui-widget">
<div class="ui-widget-header">Player</div>
<div class="ui-widget-content">

	  $pages.include("$apphome/components/mediaviewer/player/index.html",$context)

</div></div>
</div></div>

   <div class="c33r">
            <div class="subcr">
  
  

       
<div class="ui-widget">
<div class="ui-widget-header">Actions</div>
<div class="ui-widget-content">
  </div></div>
	
	<a class="uibutton" href="$home$apphome/views/activity/downloadassets.html?sourcepath=$asset.sourcepath"><span>[[Download]]</span></a>
	<a class="uibutton"  href="$home$apphome/views/activity/emailassets.html?sourcepath=$asset.sourcepath"><span>[[Email]]</span></a>
	<a class="uibutton"  href="$home$apphome/views/activity/publishassets.html?sourcepath=$asset.sourcepath"><span>[[Export]]</span></a>

#if( $caneditasset )
	#if ($isediting)
		
	#else
		<a  class="uibutton"  href="$home$apphome/views/assets/index.html?sourcepath=${asset.sourcepath}&edit=true"><span>[[Edit]]</span></a>
	#end
#end
  
  </div></div></div>