 
 <ul class="emheaderbuttons" >

<li><a #if( $content.section == "home" ) style="color:#fff;" #end href="$home$apphome/index.html"><span class="navbutton">Home</span></a></li>

#if($user)

##if( $canviewassets )
<li><a  href="$home$apphome/views/categories/index.html" ><span class="navbutton">Show All Files</span></a></li>
##end


#end

#if($user)

##if( $canviewupload )

 <li><a href="$home$apphome/views/upload/index.html" style="color:#fff;"><span class="uploadbutton">Upload Video</span></a></li>

##end


#end

 </ul>
 
 
<div style="float:right; margin-top:-30px;">

<div id="searchform">
<form id="search_form" action="$apphome/views/search/search.html" class="em-widget-content">

          <input type="text" class="replace" name="q" onclick="this.value='';" value="Search..." />
</form>
</div>





</div>
