<div id="eml-sidebar">
		

		<div class="ui-widget  uipanel" >
			<div  class="ui-widget-header">Searches</div>
			<div  class="ui-widget-content">
			$pages.include("$apphome/components/savedqueries/index.html", $context)
			</div>
		</div>
		<div class="ui-widget  uipanel" >
			<div  class="ui-widget-header">Previous Searches</div>
			<div  class="ui-widget-content">
			$pages.include("$apphome/components/previoussearches/index.html", $context)
			</div>
		</div>

		<div id="add-media">
			#if( $canviewupload )
		<a class="btn" href="$home$apphome/views/upload/index.html" ><span class="upload">Add Media</span></a>
		#end
		</div>
</div>

          
         <div id="eml-main">
			<div id="up" class="autoresize-outer">
			<div id="viewswitcher">
		$pages.includeContent()
			</div>
			</div>
         </div>
         
<div id="footer" role="contentinfo">
    $pages.include("${themeprefix}/layouts/footer.html")
    $pages.include("${apphome}/components/uploadqueue/index.html")
</div>
