<div id="eml-sidebar">
		

		<div class="ui-widget  uipanel" >
			<div  class="ui-widget-header">Searches</div>
			<div  class="ui-widget-content">
			$pages.include("$apphome/components/savedsearches/index.html", $context)
			</div>
		</div>
		<div class="ui-widget  uipanel" >
			<div  class="ui-widget-header">Previous Searches</div>
			<div  class="ui-widget-content">
			$pages.include("$apphome/components/previoussearches/index.html", $context)
			</div>
		</div>

		<div id="add-media">
			#if( $canviewupload )
		<a class="btn" href="$home$apphome/views/upload/index.html" ><span class="upload">Add Media</span></a>
		#end
		</div>
</div>

##$pages.include("$apphome/components/relatedkeywords/index.html")
          
         <div id="eml-main">
			<div id="up">
		$pages.includeContent()
			</div>
         </div>